.seasons {
  width: fit-content;
  border-radius: 9px;
  overflow: hidden;

  &__league {
    font-size: 5rem;
    background-color: var(--color-gray);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  &__season {
    display: flex;
    padding: 1.2rem 2.4rem;
    background-color: var(--color-gray);
    border-bottom: 1px solid var(--color-accent-dark);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--color-accent-light);
      cursor: pointer;
    }

    // &:first-child,
    // &:last-child {
    //   border-radius: 9px;
    // }
  }
}
