.date {
  width: 300px;
}

.container {
  height: 1000px;
  width: 600px;
  background-color: var(--dm-color-dark);
  margin: 0;
}

td {
  min-width: 536px;
}

.row {
  background-color: red;
}

.league {
  background-color: blue;
}
