.header {
  width: 100%;
  min-height: 18vh;
  padding: 2.4rem 32rem 0;
  background-color: var(--color-green-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__logo {
    max-width: 32rem;
    cursor: pointer;
  }

  &__search {
    height: 3.2rem;
    padding: 0 0.4rem;
    border: none;
    border-radius: 6px;
    font-size: 1.4rem;
    color: var(--color-green-dark);
    background-color: var(--color-gray);
  }

  &__profile {
    cursor: pointer;

    &__bar {
      width: 12.8rem;
      height: 3.2rem;
      padding: 0 0.4rem;
      border: none;
      border-radius: 6px;
      font-size: 1.4rem;
      color: var(---color-green-dark);
      background-color: var(--color-gray);
      display: flex;

      p {
        margin: 0 auto;
        align-self: center;
      }

      &:hover {
        background-color: var(--color-gray-dark);
      }

      &__active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &__dropdown {
      position: absolute;
      width: 12.8rem;
      margin: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      list-style: none;

      li {
        height: 3.2rem;
        padding: 0.2rem 0.4rem;
        font-size: 1.4rem;
        color: var(--color-green-dark);
        background-color: var(--color-gray);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      li:hover,
      li:active {
        background-color: var(--color-gray-dark);
      }

      a {
        text-decoration: none;
      }

      a:link,
      a:visited,
      p {
        color: var(--color-green-dark);
      }
    }
  }

  &__nav {
    width: 100%;
    align-self: flex-end;

    &__list {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.6rem;
      list-style: none;
    }

    &__item {
      width: 12.8rem;
      height: 3.2rem;
      border: none;
      font-size: 1.6rem;
      color: var(--color-gray);
      font-weight: 500;
      background-color: var(--color-green-dark);
      cursor: pointer;
      text-align: center;
    }

    &__item:link,
    &__item:visited,
    a:link,
    a:visited {
      color: var(--color-gray);
      text-decoration: none;
    }

    &__item:hover,
    &__item:active,
    a:hover,
    a:active {
      color: var(--color-gold);
    }

    &__item:hover {
      .dropdown_list {
        display: inline-grid;
      }
    }
  }
}

.dropdown_list {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 1.2rem;
  list-style: none;
  display: none;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dropdown_country {
  max-width: 20rem;
  padding: 1.2rem;
  border: solid 1px var(--color-green-dark);
  background-color: var(--color-green-medium);

  &:hover {
    background-color: var(--color-green-dark);
  }
}
