.hide {
  display: none;
}

.header {
  padding: 2.4rem 32rem 0;
  width: 100%;
  min-height: 18vh;
  background-color: var(--color-accent-dark);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__logo {
    max-width: 300px;
    width: 100%;
    cursor: pointer;
  }

  &__search {
    border: none;
    width: 25.6rem;
    height: 3.2rem;
    border-radius: 9px;
    background-color: var(--color-gray);
    color: var(--color-accent-dark);
    font-size: 1.4rem;
    padding: 0 0.4rem;
  }

  &__button {
    border: none;
    width: 12.8rem;
    height: 3.2rem;
    border-radius: 9px;
    background-color: var(--color-gray);
    color: var(--color-accent-dark);
    font-size: 1.4rem;
    padding: 0 0.4rem;
    cursor: pointer;

    &:hover {
      transition: all 0.1s linear 0s;
      border: solid 2px var(--color-accent-light);
      background-color: var(--color-accent-dark);
      color: var(--color-accent-light);
    }
  }

  &__profile {
    cursor: pointer;

    &__bar {
      display: flex;
      border: none;
      width: 12.8rem;
      height: 3.2rem;
      border-radius: 9px;
      background-color: var(--color-gray);
      color: var(--color-accent-dark);
      font-size: 1.4rem;
      padding: 0 0.4rem;

      p {
        align-self: center;
        margin: 0 auto;
      }

      &__active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    ul {
      position: absolute;
      list-style: none;
      text-align: center;
      margin: 0;
      width: 12.8rem;
      display: flex;
      flex-direction: column;

      li {
        height: 3.2rem;
        background-color: var(--color-gray);
        color: var(--color-accent-dark);
        font-size: 1.4rem;
        padding: 0.2rem 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      li:last-child {
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
      }
    }
  }

  &__nav {
    width: 100%;
    align-self: flex-end;

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      gap: 1.6rem;
      margin: 0;
      list-style: none;
    }

    &__item {
      background-color: var(--color-accent-dark);
      width: 12rem;
      height: 3rem;
      border: none;
      color: var(--color-gray);
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
    }

    &__item:link,
    &__item:visited,
    a:link,
    a:visited {
      color: var(--color-gray);
      text-decoration: none;
    }

    &__item:hover,
    &__item:active,
    a:hover,
    a:active {
      color: var(--color-accent-light);
    }

    &__item:hover {
      .dropdown_list {
        display: inline-grid;
      }
    }
  }
}

.dropdown_list {
  margin-top: 1rem;
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: none;
  // display: inline-grid;
  justify-content: center;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 120rem;
}

.dropdown_profile {
  margin-top: 1rem;
  position: relative;
  z-index: 1000;

  a {
    text-decoration: none;
  }

  a:link,
  a:visited,
  p {
    color: var(--color-accent-dark);
  }

  a:hover,
  a:active,
  p:hover,
  p:active {
    color: var(--color-accent-light);
  }
}

.dropdown_countries {
  border: solid 1px var(--color-accent-dark);
  padding: 1.2rem;
  max-width: 20rem;
  background-color: var(--dm-color-dark);
}
