.logo {
  max-width: 500px;
  width: 100%;
  margin-top: 16rem;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  flex: 1;

  form {
    min-width: 36rem;
    margin-top: 4rem;

    h1 {
      font-size: 3.2rem;
      font-weight: 300;
      margin-bottom: 2.4rem;
      text-align: center;
      color: var(--color-accent-light);
    }

    input {
      display: block;
      height: 3.2rem;
      width: 25.6rem;
      padding: 0rem 0.4rem;
      border-radius: 9px;
      border: none;
      margin: 0.8rem auto;
      background-color: var(--color-gray);
      color: var(--color-accent-dark);
      font-size: 1.4rem;
    }
  }

  button {
    border: none;
    height: 3.2rem;
    width: 25.6rem;
    border-radius: 9px;
    align-self: center;
    background-color: var(--color-gray);
    color: var(--color-accent-dark);
    font-size: 1.8rem;
    padding: 0 0.4rem;

    &:hover {
      transition: all 0.1s linear 0s;
      border: solid 2px var(--color-accent-light);
      background-color: var(--color-accent-dark);
      color: var(--color-accent-light);
    }
  }

  &__buttons {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-decoration: none;

    p {
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
      gap: 0.8rem;
      color: var(--color-gray);

      a {
        text-decoration: none;
        color: var(--color-accent-light);
      }

      a:hover {
        color: var(--color-accent-light);
      }
    }
  }
}
