.scrollToTop {
  position: fixed;
  right: 2.4rem;
  z-index: 100;
  bottom: 2.4rem;
  padding: 1.6rem;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.8rem;
  color: var(--color-green-dark);
  cursor: pointer;
  background-color: var(--color-gold);
  display: none;
}

.scrollToTop:hover {
  color: var(--color-gold);
  background-color: var(--color-green-dark);
}
